extends layout

block content
  h1= title
    - let createView = `dispatch(\"icecream/create\")`
  button.btn(class="btn-primary m1-2", onclick=createView) Create
    - let results = theicecream
  p Welcome to the icecream store
   div(class="container-fluid")
        div(class="row m-1")
            -
                let icecream = [
                    {
                        "Flavour": "Vanilla",
                        "liters": 4,
                        "price": 20
                    },
                    {
                        "Flavour": "Strawberry",
                        "liters": 10,
                        "price": 30
                    },
                    {
                        "Flavour": "Chocolate",
                        "liters": 25,
                        "price": 45
                    },                   
                ]
            each v,index in icecream
             - let destination = `dispatch(\"/icecream/update?id=${v._id}\")` 
                table(style='width:100%', border='1')
                  tr 
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.Flavour}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.liters}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}

                button.btn( class="btn-primary ml-1", onclick= destination) Update 
                button.btn(class="btn-primary ml-2", onclick= detailView) Detail
                button.btn(class="btn-danger ml-2", onclick= deleteView) Delete
   
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
